<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <title>Gestion des Produits</title>
  <style>


  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand
  <a class="navbar-brand" href="#">Gestion Produits</a>
   Links -->
  <ul class="navbar-nav">

      <li> <a [routerLink]="['']">Home</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Produits</a>
        <div class="dropdown-content">
          <a [routerLink]="['addproduit']">Ajouter</a>
          <a [routerLink]="['produits']">Base</a>
          <a [routerLink]="['']">Lister</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">User</a>
        <div class="dropdown-content">
          <a [routerLink]="['']">Login</a>
          <a [routerLink]="['']">Logout</a>
          <a [routerLink]="['']">Profile</a>
        </div>
      </li>

  </ul>
</nav>
</body>
</html>

<router-outlet></router-outlet>
